// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans:400,400i,800'); 

// Font famlily variables
$primary-font-family: 'Montserrat', sans-serif;
$body-font-family: 'Open Sans', sans-serif;

// font Sizes
$main-font-size: .875rem;  // 14px 

// Some useful colors
$main-color: #60606e; // dark gray
$main-green: #7beec7; // all kind of green stuff bg, undergrounds etc.
$gray-01: #999999; // text in mail form
$gray-02: #cdcdcd; // placeholder input mail text
$gray-03: #9a9a9a; // bottom breadcrubs
// 